@import "blog_posts_custom.css";

body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace
}

h2 {
    text-decoration: underline overline;
    text-align: center;
}

q {
    font-style: italic;
}