.post_cite {
    width: 100%;
    background-color: rgba(51, 170, 51, .2);
    border-left: 4px solid mediumseagreen;
    padding: 13px;
    margin-bottom: 15px;
    ;
}

#header {
    text-align: center;
}

#post_title {
    color: red;
    font-size: 2em;
}

#post_author {
    /* border-bottom: 1px solid black; */
    padding-bottom: 20px;
    width: 100%;
}

#post_auth_image {
    float: left;

}

.social_media {
    max-width: 2em;
    padding-right: 5px;
    padding-left: 15px;
}

#post_auth_image img {
    max-width: 4em;
    display: block;
    border-radius: 50%;
    padding-right: 20px;
}


#post_author_biography {
    background-color: lightblue;
    margin: 15px;
    padding: 20px;
}

#post_author_name {
    color: red;
    font-weight: bold;

}

#post_author_description {
    color: green;
}

.container_content {}

.container {
    display: grid;
    width: 100wh;
    margin: auto;
    grid-template-columns: 90vw;
    grid-template-areas:
        "hd"
        "sd"
        "main"
        "ft";
    grid-gap: 10px;
    border: 2px red solid;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px green solid;
    padding: 15px;

}

.container_content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.content {
    margin: 15px;
}

.post_image_banner {
    width: 100%;
}



/* 
@media (min-width: 900px) {
    .container {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 15vh 70vh 5vh;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "sd main main main main main main main"
            "ft ft ft ft ft ft ft ft";
    }

    #content {
        flex-direction: row;

    }
} */