@import "blog_homepage_custom.css";

@import "blog_homepage_media.css";

body {
    background-color: beige;
    font-family: 'Anonymous Pro', monospace;
}

h2 {
    text-decoration: underline overline;
    text-align: center;
}



/* grid-auto-rows: minmax(100px, auto) sets rows height to min 100*/